.container-fluid.header {
  background-color:#FFCA28;
  padding: 30px;
}

.logo {
  height: 40px;
}

.row.buscador {
  background-color:rgb(255, 202, 96);
  padding: 20px;
}



.btn.btn-primary.card.buscador {
  color: rgb(255, 255, 255);
  background-color: #FFA000;
  border-color: #FF8F00;
  margin-top: 0px;
}

.btn.btn-primary.card.buscador:hover {
  background-color: #FFA000;
  border-color:  #FFA000;
}

.btn.btn-primary.card.buscador.registrar {
  color: rgb(128, 120, 14);
  background-color: #FFD54F;
  border-color: #FFCA28;
  margin-top: 0PX;
}

.btn.btn-primary.card.buscador.registrar:hover {
  color: rgb(128, 120, 14);
  background-color:  #FFCA28;
  border-color:  #FFCA28;    
}

