.container-fluid.header {
  background-color:rgb(255, 233, 165);
  padding: 30px;
}

.logo {
  height: 40px;
}

.row.buscador {
  background-color:rgb(255, 202, 96);
  padding: 20px;
}



.btn.btn-primary.card.buscador {
  color: rgb(255, 255, 255);
  background-color: rgb(242, 172, 36);
  border-color: rgb(242, 172, 36);
  margin-top: 0px;
}

.btn.btn-primary.card.buscador:hover {
  background-color: rgb(204, 142, 18);
  border-color:  rgb(204, 142, 18);
}

.btn.btn-primary.card.buscador.registrar {
  color: rgb(128, 120, 14);
  background-color: rgb(255, 251, 0);
  border-color: rgb(242, 172, 36);
  margin-top: 0PX;
}

.btn.btn-primary.card.buscador.registrar:hover {
  color: rgb(128, 120, 14);
  background-color: rgb(255, 238, 0);
  border-color: rgb(209, 150, 32);    
}

