.container-fluid.catalogo {
  background-color:rgb(247, 242, 226);
  padding: 30px;
  box-sizing: border-box;
}

.col.col-3 {
  padding-bottom: 30px;
}


.card-text-description {
  font-size: 15px;
  margin: 0px;
  color: grey;
  line-height: 30px;
  margin-bottom: 5px;
}

.card-description-block {
  font-size: 12px;
  margin: 0px;
  color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-text-title {
  font-size: 12px;
  line-height: 10px;
  margin: 0px;
  color: rgb(196, 194, 194);
}

.btn.btn-primary.card {
  color: rgb(255, 255, 255);
  background-color: rgb(242, 172, 36);
  border-color: rgb(242, 172, 36);
}

.btn.btn-primary.card:hover {
  background-color: rgb(204, 142, 18);
  border-color:  rgb(204, 142, 18);
}


.card.animales {
  margin: 10px;
}

.card.animal {
  margin: 20px;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0px;
}

.col.col-6.bg-full {
  background-image: url('/assets/ovejero-paco.jpg');
  background-size: cover;
  background-position: center;
  border-top-left-radius: .25rem;  
  border-bottom-left-radius: .25rem;  
}

.card-img-ficha {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.card.animal.img {
  height: 350px;
}

.container.animal {
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 0px;
}

.form.form-newanimal {
  margin: 40px;
}

.h1-newanimal {
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 22px;
}


#name {
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
  margin-bottom: 26px;
}  

#name-placeholder {
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
  width: 180px;
}

.custom-select {
  margin-bottom: 10px;
  width: 100px;
}

.container-fluid.catalogo {
  background-color:rgb(247, 242, 226);
  padding: 30px;
  box-sizing: border-box;
}

.container-fluid.ficha {
  background-color:rgb(247, 242, 226);
  padding: 30px;
  box-sizing: border-box;
}

.titulo-ppal {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.bajada {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

@media all and (min-width: 425px) and (max-width: 1440px) {
  .card.animales {
      margin: 0px;
      margin-bottom: 20px;
  }

  .card-text-description {
      font-size: 13px;
      line-height: 16px;
      margin: 0px;
      color: grey;
      margin-top: 5px;
      margin-bottom: 12px;
  }
  
  .card-text-title {
      font-size: 10px;
      line-height: 10px;
      margin: 0px;
      color: rgb(196, 194, 194);
  }

  .button.input.optgroup.select.textarea {
      margin-bottom: 20px;
  }
 }

 





 
